cameras:
  - id: cam1
    name: Camera Name
    rtsp_url: rtsp://192.168.1.x:554/stream
    username: admin
    password: changeme
  - id: cam2
    name: Second Camera
    rtsp_url: rtsp://192.168.1.y:554/stream
    username: admin
    password: changeme
