cameras:
  - id: cam1
    name: Camera Name
    port: 8081
    rtsp_url: rtsp://username:password@192.168.1.x:554/stream
  - id: cam2
    name: Second Camera
    port: 8082
    rtsp_url: rtsp://username:password@192.168.1.y:554/stream
